@model IEnumerable<Models.Snippet>
<h3> Other Artist's Songs (Youtube Search Result) </h3>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td nowrap>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td nowrap>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td nowrap>
                    @Html.DisplayFor(modelItem => item.kind)
                </td>
            </tr>
        }
    </tbody>

</table>
